.game{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

body{
    display: flex;
    font-family: Roboto, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.score-container{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-bottom: 10px;
}

.button-container{
    display: flex;
    gap: 30px;
    align-items: center;
}

button{
    border-radius: 10px;
    padding: 10px 18px;
    border: solid #121C82;
    background-color: #f7f7f8;
    font-size: 14px;
}

@media screen and (max-width: 612px){  
    .title{
        text-align: center;
    }
    .score{
        position: absolute;
        top: 200px;
        width: 100vw;
    }
    .options{
        width: 100vw;
    }
}